# Explore Json

Use this notebook to exploreÂ  candle data from Oanda.

In [94]:
# Imports
import json
import pandas as pd

In [95]:
with open('../dump/XAU_USD-H1-candles.json') as f:
    raw_json_data = f.read()

json_data = json.loads(raw_json_data)

instrument = json_data['instrument']
granularity = json_data['granularity']
candles = json_data['candles']

print(f"{instrument} ({granularity}) candles")
print(f"Sample candle data: {candles[0]}")

XAU_USD (H1) candles
Sample candle data: {'complete': True, 'volume': 5626, 'time': '2022-04-21T20:00:00.000000000Z', 'mid': {'o': '1951.130', 'h': '1952.415', 'l': '1950.958', 'c': '1951.625'}}

In [96]:
#candles
# candles
#c = candles[0]


# # 2022-04-21T20:00:00.000000000Z
# #
# from datetime import datetime
# a = datetime.strptime(c['time'], "%Y-%m-%dT%H:%M:%S.%f000Z")
# a

In [97]:
# Convert json data to dataframe
flatten_data = [
    [ 
        datetime.strptime(x['time'], "%Y-%m-%dT%H:%M:%S.%f000Z"), 
        bool(x['complete']), 
        int(x['volume']), 
        float(x['mid']['o']), 
        float(x['mid']['h']), 
        float(x['mid']['l']), 
        float(x['mid']['c'])
    ] for x in candles]
df = pd.DataFrame(
    flatten_data, 
    columns=['time','complete', 'volume', 'o', 'h', 'l', 'c'])

print(f"df shape: {df.shape}")

print(df.info())

df shape: (500, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time      500 non-null    datetime64[ns]
 1   complete  500 non-null    bool
 2   volume    500 non-null    int64
 3   o         500 non-null    float64
 4   h         500 non-null    float64
 5   l         500 non-null    float64
 6   c         500 non-null    float64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(1)
memory usage: 24.1 KB
None

In [113]:
#df['ma'] = df.rolling(5,on='pop').mean()
#print(df.to_string())
df['ma'] = df['c'].rolling(8).mean()
df['ewm'] = df['c'].ewm(span=4, adjust=False).mean()
df.head(50)

,time,complete,volume,o,h,l,c,ma,ewm
0,2022-04-21 20:00:00,True,5626,1951.130,1952.415,1950.958,1951.625,NaN,1951.625000
1,2022-04-21 22:00:00,True,3981,1950.820,1951.479,1950.391,1951.435,NaN,1951.549000
2,2022-04-21 23:00:00,True,5937,1951.435,1952.951,1950.675,1951.010,NaN,1951.333400
3,2022-04-22 00:00:00,True,13496,1950.980,1952.225,1948.575,1950.290,NaN,1950.916040
4,2022-04-22 01:00:00,True,21307,1950.265,1953.716,1948.871,1950.561,NaN,1950.774024
5,2022-04-22 02:00:00,True,14473,1950.575,1951.403,1947.295,1947.465,NaN,1949.450414
6,2022-04-22 03:00:00,True,15665,1947.465,1951.291,1945.970,1950.460,NaN,1949.854249
7,2022-04-22 04:00:00,True,15530,1950.445,1952.919,1949.740,1952.340,1950.648250,1950.848549
8,2022-04-22 05:00:00,True,17757,1952.360,1953.229,1950.307,1953.210,1950.846375,1951.793130
9,2022-04-22 06:00:00,True,19514,1953.220,1955.710,1951.015,1952.925,1951.032625,1952.245878
10,2022-04-22 07:00:00,True,30535,1952.925,1955.201,1950.981,1951.010,1951.032625,1951.751527
11,2022-04-22 08:00:00,True,36245,1951.005,1951.587,1943.536,1943.890,1950.232625,1948.606916
12,2022-04-22 09:00:00,True,15038,1943.870,1944.099,1941.435,1943.850,1949.393750,1946.704150
13,2022-04-22 10:00:00,True,37451,1943.860,1944.295,1930.923,1936.605,1948.036250,1942.664490
14,2022-04-22 11:00:00,True,18476,1936.615,1937.604,1932.908,1935.491,1946.165125,1939.795094
15,2022-04-22 12:00:00,True,52385,1935.505,1939.669,1929.551,1937.065,1944.255750,1938.703056
16,2022-04-22 13:00:00,True,75403,1937.080,1946.495,1931.310,1943.325,1943.020125,1940.551834
17,2022-04-22 14:00:00,True,57133,1943.305,1945.437,1933.569,1936.040,1940.909500,1938.747100
18,2022-04-22 15:00:00,True,50341,1936.025,1939.533,1926.635,1939.165,1939.428875,1938.914260
19,2022-04-22 16:00:00,True,20279,1939.175,1940.926,1934.953,1936.535,1938.509500,1937.962556
20,2022-04-22 17:00:00,True,15360,1936.580,1936.865,1932.223,1933.325,1937.193875,1936.107534
21,2022-04-22 18:00:00,True,16895,1933.325,1935.080,1931.863,1933.051,1936.749625,1934.884920
22,2022-04-22 19:00:00,True,22545,1933.065,1936.169,1931.799,1932.751,1936.407125,1934.031352
23,2022-04-22 20:00:00,True,9651,1932.735,1934.777,1930.958,1932.350,1935.817750,1933.358811
24,2022-04-24 22:00:00,True,9778,1933.390,1934.549,1929.611,1930.375,1934.199000,1932.165287
25,2022-04-24 23:00:00,True,6533,1930.445,1933.049,1929.840,1932.740,1933.786500,1932.395172
26,2022-04-25 00:00:00,True,16635,1932.740,1932.840,1926.385,1927.950,1932.384625,1930.617103
27,2022-04-25 01:00:00,True,26583,1927.930,1928.071,1924.980,1925.555,1931.012125,1928.592262
28,2022-04-25 02:00:00,True,27132,1925.531,1926.556,1922.065,1924.235,1929.875875,1926.849357
29,2022-04-25 03:00:00,True,18282,1924.215,1924.679,1921.841,1924.190,1928.768250,1925.785614
30,2022-04-25 04:00:00,True,22341,1924.170,1924.529,1915.920,1916.510,1926.738125,1922.075369
31,2022-04-25 05:00:00,True,25740,1916.500,1919.415,1913.298,1915.405,1924.620000,1919.407221
32,2022-04-25 06:00:00,True,30377,1915.425,1918.866,1912.371,1917.900,1923.060625,1918.804333
33,2022-04-25 07:00:00,True,23924,1917.910,1921.120,1914.795,1915.605,1920.918750,1917.524600
34,2022-04-25 08:00:00,True,24028,1915.599,1921.247,1914.360,1916.575,1919.496875,1917.144760
35,2022-04-25 09:00:00,True,15613,1916.620,1919.265,1915.693,1917.310,1918.466250,1917.210856
36,2022-04-25 10:00:00,True,21081,1917.360,1918.240,1907.737,1908.915,1916.551250,1913.892514
37,2022-04-25 11:00:00,True,38641,1908.925,1911.075,1905.225,1907.670,1914.486250,1911.403508
38,2022-04-25 12:00:00,True,63020,1907.685,1909.745,1891.550,1894.790,1911.771250,1904.758105
39,2022-04-25 13:00:00,True,79297,1894.801,1904.267,1893.628,1896.835,1909.450000,1901.588863
40,2022-04-25 14:00:00,True,82198,1896.805,1899.449,1891.941,1895.185,1906.610625,1899.027318
41,2022-04-25 15:00:00,True,42415,1895.200,1900.535,1892.767,1895.890,1904.146250,1897.772391
42,2022-04-25 16:00:00,True,24717,1895.905,1897.973,1894.550,1897.755,1901.793750,1897.765434
43,2022-04-25 17:00:00,True,24249,1897.765,1898.731,1894.693,1897.275,1899.289375,1897.569261
44,2022-04-25 18:00:00,True,23998,1897.295,1902.605,1896.519,1898.705,1898.013125,1898.023556
45,2022-04-25 19:00:00,True,19261,1898.745,1901.874,1897.640,1897.975,1896.801250,1898.004134
46,2022-04-25 20:00:00,True,8699,1897.975,1899.216,1897.231,1898.045,1897.208125,1898.020480
47,2022-04-25 22:00:00,True,7170,1898.875,1900.715,1898.603,1899.551,1897.547625,1898.632688
48,2022-04-25 23:00:00,True,3420,1899.550,1900.445,1898.605,1899.440,1898.079500,1898.955613
49,2022-04-26 00:00:00,True,14639,1899.500,1903.847,1899.243,1900.965,1898.713875,1899.759368